{
	db:{
		rootPath:"/local/neo4j-server/neo4j-community-1.5.M02/data/pubcrawl.db",
		nodeTypes:[{type:"gene"},{type:"drug"},{type:"deNovo"}],
		edgeTypes:[{type:"domine"},{type:"ngd"},{type:"ngd_alias"},{type:"gbm_1006_rface"},{type:"gbm_1006_pairwise"},{type:"drug_ngd"},{type:"drug_ngd_alias"}]
	},
	nodeFiles:[
		{ location:"/local/neo4jImport/geneNodeInfo.txt", type:"gene"},
		{ location:"/local/neo4jImport/drugVertexInfo.txt",type:"drug"}
	],
	edgeFiles:[
		{ location:"/local/neo4jImport/geneNGDValues.txt", relType:"ngd", sourceNodeType:"gene", targetNodeType:"gene"},
		{ location:"/local/neo4jImport/geneAliasNGDValues.txt", relType:"ngd_alias", sourceNodeType:"gene", targetNodeType:"gene"},
		{ location:"/local/neo4jImport/domineEdgeInfo.txt",relType:"domine",sourceNodeType:"gene", targetNodeType:"gene"},
 		{ location:"/local/neo4jImport/RFACEEdgeInfo.txt",relType:"gbm_1006_rface",sourceNodeType:"gene", targetNodeType:"gene"},
		{ location:"/local/neo4jImport/drugNGDInfo.txt",relType:"drug_ngd",sourceNodeType:"drug",targetNodeType:"gene"},
		{ location:"/local/neo4jImport/drugNGDAliasInfo.txt",relType:"drug_ngd_alias",sourceNodeType:"drug",targetNodeType:"gene"},
		{ location:"/local/neo4jImport/pairwiseEdgeInfo.txt",relType:"gbm_1006_pairwise",sourceNodeType:"gene", targetNodeType:"gene"}
	]
}
